/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

/*Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services")
Uitzonderingen:
          Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: solid red;*/
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}



/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    display: flex;
    flex-direction: column;
    background-color: #4845E4;
    color: white;
    padding: 5px;
    justify-content: center;
    border-style: solid;
    border-color: red;
    position: relative;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    gap: 40px;
    padding: 20px 40px;
    border-style: solid;
    border-color: yellow;
}

.header-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 55px;
}

.to-help {
    font-size: 20px;
}

.contact-button {
    display: flex;
    justify-content: center;
    background-color: #ED4385;
    text-transform: uppercase;
    width: 15%;
    padding: 15px;
    color: white;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.10);
}

/*.squiggle-stripe {*/
/*    display: block;*/
/*    background-image: url("../Frontend-html-css-concept-opdracht/assets/squiggle_line_stripe.svg");
/*    width: 100%;*/
/*    height: 100%;*/
/*    left: 0;*/
/*    top: 0;*/
/*    opacity:0.6;*/
/*    position: absolute;*/
/*    background-size: auto;*/
/*    border-style: solid;*/
/*    border-color: white;*/
/*}*/

.squiggle-stripe {
    background-image: url("../Frontend-html-css-concept-opdracht/assets/squiggle_line_stripe.svg");
    border-style: solid;
    border-color: white;
    width: 100px;
    height: 70px;
    justify-content: center;
    /*z-index: 2;*/
    /*position: absolute;*/
}


/* --------------- 4.2 Introduction ------------------- */

main {
    display: flex;
    flex-direction: column;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #5722CD;
    gap: 70px;
    border-style: solid;
    border-color: darkgreen;
}

.intro_link {
    color: black;
}

/* ------------------------------- 5. Media Queries -------------------------------- */

.projects {
    background-color: #F3F6F9;
}

.projects {
    display: flex;
}

.tekst-rolling-stones {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.squiggle_line1 {
    background-image: url("../Frontend-html-css-concept-opdracht/assets/squiggle_line.svg");
    border: solid red;
    height: 100px;
    width: 70px;
}



